

.navbar{
    list-style: none;
    display:flex;
    align-items: center;

}
div{
    align-items: center;
    color: rgb(19, 65, 65);
    text-align: center;
    margin: 20px 0;
}

.container{
    align-items: center;
    color: rgb(30, 195, 195);
    text-align: center;
    /* border: 3px solid green; */
    margin: 10px 10px 5;
}

.paragraph{
    align-items: center;
    color: rgb(19, 65, 65);
    text-align: center;
    margin:50px 0; // add top and bottom margin

}

form { 
    margin: 0 auto; 
    width:250px;
    }

    /* ul{
        align-items: center;
        color: rgb(19, 65, 65);
        text-align: center;
        margin: 20px 0;
    
    } */