@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Welcome To Eau Clair's Salon</h1>
</div>
  <div class="center">
   
  </div>
  <hr />
  <div class="link-container">
   
    <p>@Html.ActionLink("See All Stylists", "Index", "Stylists")</p>
    
  </div>