@{
    Layout = "_Layout";
}

 <div class="sidebar">
<h1>Eau Claire's Salon</h1>

</div>

<div class="button-container">

<button>@Html.ActionLink("See All Stylists", "Index", "Restaurants")</button>

<button>@Html.ActionLink("See All Clients", "Index", "Clients")</button> 
</div> 