
  @{
  Layout = "_Layout";
}
<body> 

<div class="container"> 

<h1>Welcome To Eau Clair's Salon!!!</h1>

</div>

<div class="container">
@Html.ActionLink("See all Clients", "Index", "Clients", null, new { @class = "custom-button" })

@Html.ActionLink("See all Stylists", "Index", "Stylists", null, new { @class = "custom-button" })


</div>

</body>